* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: #1a1a29;
  overflow: hidden;
  user-select: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 2.5s;
  z-index: 10000;
}
button img {
  width: 100%;
  object-fit: contain;
  transition: opacity 150ms;
}
button:hover > img {
  opacity: 0.8;
}

#background_img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transition: filter 100ms;
  z-index: 1;
}

#img_title {
  position: absolute;
  bottom: 30%;
  margin: 0 20px;
  opacity: 0;
  color: #f1f1f1;
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  z-index: 10;
}

#img_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 70%;
  min-width: 350px;
  max-width: 1020px;
  color: #f1f1f1;
  overflow-y: auto;
  z-index: 100;
}
@media screen and (max-width: 600px), (max-height: 670px) {
  #img_description {
    justify-content: start;
    padding: 20px;
  }
}
#img_description #title, #img_description #author, #img_description #date {
  text-align: center;
}
#img_description #title {
  font-size: 3em;
  font-weight: 600;
}
#img_description #author {
  font-size: 1.2em;
}
#img_description #date {
  font-size: 1em;
}
#img_description #description {
  font-size: 1.4em;
  text-align: justify;
}

#search_modal {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 100;
}
#search_modal label {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  color: #f1f1f1;
}
#search_modal div {
  display: flex;
  margin: 7px 0;
}
#search_modal input {
  margin: 0 5px;
  padding: 5px;
  background-color: #f1f1f1;
  border: none;
}
#search_modal input[type=submit] {
  cursor: pointer;
}
#search_modal input:focus {
  outline: none;
}

#button_info {
  position: absolute;
  left: 0;
  height: 30px;
  width: 30px;
  margin: 10px;
}

#img_config {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  margin: 10px;
  z-index: 10000;
}
#img_config button {
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  width: 40px;
  margin: 0 5px;
}
#img_config button img {
  position: absolute;
}

#img_search img {
  height: 28px;
}

.contain {
  object-fit: contain !important;
}

.invisible {
  opacity: 0 !important;
}

.hidden {
  display: none !important;
}

.blur {
  filter: brightness(0.5) blur(10px) !important;
}

.presentation {
  animation: presentation 2.5s ease-in-out;
}

.show_title {
  animation: show_title 2.5s ease-in-out;
}

.zoom-in {
  animation: zoom-in 100ms ease-out;
}

@keyframes presentation {
  50% {
    filter: brightness(0.5);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes show_title {
  50% {
    opacity: 1;
    transform: translateY(-30px);
  }
  75% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}
@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
